<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<center><title>EMBEBIDOS EXAMEN FINAL</title></center>
</head>
<body>
<center><h1>EMBEBIDOS EXAMEN FINAL SEGUNDO PARCIAL</h1></center>
<center><img src="/static/images/m3.jpg" alt="user"></center>
<br>
<h1>EMBEBIDOS EXAMEN FINAL SEGUNDO PARCIAL</h1>
<h1>EMBEBIDOS EXAMEN FINAL SEGUNDO PARCIAL</h1>
<h1>EMBEBIDOS EXAMEN FINAL SEGUNDO PARCIAL</h1>
<button  onclick="Sens1()">Mostrar 1</button>
<br>
<br>
<button onclick="Sens2()">Mostrar 2</button>
<h1>Historial:</h1><h2 id="Datos"></h2>
</body>
</html>
